<div class="app-layout" [class.sidebar-closed]="sidebarColapsado()">
  
  <aside class="sidebar">
    <div class="sidebar-brand">
      <span class="logo-icon">🚀</span>
      <span class="logo-text" *ngIf="!sidebarColapsado()">ERP SaaS</span>
    </div>

    <nav class="sidebar-menu">
      <ul>
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.ruta" routerLinkActive="active" class="menu-link">
            <span class="icon">{{ item.icono }}</span>
            <span class="label" *ngIf="!sidebarColapsado()">{{ item.etiqueta }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <header class="top-header">
      <button class="btn-toggle" (click)="alternarSidebar()">
        ☰
      </button>

      <div class="header-right-zone">
      <div class="header-user">
        <span class="user-badge">SuperAdmin</span>
        <span class="user-name">Cristian</span>
      </div>

      <button class="btn-logout" (click)="ejecutarLogout()" title="Cerrar Sesión">
          <span class="icon">🚪</span> Salir
        </button>
      </div>
    </header>

    <main class="page-body">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>